.model-card {
  padding: 1rem 2rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #ffffff99;
  border: 1px solid #008080;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #00000025;
}

.model-card__make {
  color: #888;
}

.model-card__link {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

.model-card__model {
  font-size: 20px;
  margin-left: 3rem;
}

.model-card__link:hover {
  color: #008080;
  transition: 0.3s ease-in-out;
}
