.variable-card {
  padding: 1rem 2rem;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  border: 1px solid #008080;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #00000025;
}

.variable-card__name {
  font-size: 24px;
  line-height: 30px;
}

.variable-card__element {
  color: #444;
  align-self: flex-end;
}
