.main {
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 532px);
  gap: 0;
  max-width: 1104px;
}

.main__search-box {
  margin: 0;
}

.main__search-box:nth-child(1) {
  padding: 0 1rem 1rem 0;
  border-right: 1px solid #02b0b0;
  border-bottom: 1px solid #02b0b0;
}

.main__search-box:nth-child(2) {
  padding: 0 0 1rem 1rem;
  border-bottom: 1px solid #02b0b0;
  border-left: 1px solid #02b0b0;
}

.main__search-box:nth-child(3) {
  padding: 1rem 1rem 0 0;
  border-top: 1px solid #02b0b0;
  border-right: 1px solid #02b0b0;
}

.main__search-box:nth-child(4) {
  padding: 1rem 0 0 1rem;
  border-left: 1px solid #02b0b0;
  border-top: 1px solid #02b0b0;
}
