.manufacturer__search-box {
  padding: 1rem 0 1rem 1rem;
  background-color: #ffffff99;
  width: 500px;
  height: 250px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: 2px 4px 4px #00000025;
}

.manufacturer__search-box-title {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.manufacturer__search-box-form {
  margin: 0 1rem 0 auto;
}

.manufacturer__search-box-label {
  display: flex;
  gap: 0.4rem;
  justify-content: end;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 20px;
}

.manufacturer__search-box-select {
  margin: 2rem 0 1.2rem;
  background: right 4% bottom 50% / contain no-repeat
    url("../../../assets/Dropdown.svg") #fff;
  background-size: 20px 20px;
  padding: 0.6rem;
  width: 250px;
  border: 1px solid #00000050;
  border-radius: 8px;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

.manufacturer__search-box-option {
  background-color: #efefef;
  color: #008080;
  cursor: pointer;
}

.manufacturer__search-box-select:focus {
  outline: 1px solid #008080;
}

.manufacturer__search-box-option:hover {
  background-color: #008080;
  color: #efefef;
}
