.makes-card {
  padding: 1rem 2rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-color: #ffffff99;
  border: 1px solid #008080;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #00000025;
}

.makes-card__make {
  padding-bottom: 0.4rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

.makes-card__id {
  width: 100%;
  font-size: 14px;
  color: #00000075;
  text-align: center;
  border-top: 1px solid #02b0b0;
}

.makes-card__make:hover {
  color: #008080;
  transition: 0.3s ease-in-out;
}
