.search-card__box {
  padding: 2rem 1rem 2rem 2rem;
  background-color: #ffffff99;
  width: 700px;
  height: 350px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: 2px 4px 4px #00000025;
}

.search-card__title {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.search-card__form {
  margin: 0 1rem 0 auto;
}

.search-card__label {
  display: flex;
  gap: 0.4rem;
  justify-content: end;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 20px;
}

.search-card__select {
  margin: 2rem 0 1.2rem;
  background: right 4% bottom 50% / contain no-repeat
    url("../../assets/Dropdown.svg") #fff;
  background-size: 20px 20px;
  padding: 0.6rem;
  width: 250px;
  border: 1px solid #00000050;
  border-radius: 8px;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

.search-card__option {
  background-color: #efefef;
  color: #008080;
  cursor: pointer;
}

.search-card__select:focus {
  outline: 1px solid #008080;
}

.search-card__option:hover {
  background-color: #008080;
  color: #efefef;
}
