.model-results {
  padding: 2rem;
  max-height: 550px;
  overflow: scroll;
}

.model-results__list {
  margin: 0 auto;
  max-width: 1131px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.model-results::-webkit-scrollbar {
  width: 0;
}
